{% load disqus_tags flatblock_tags cache navbar generic_content blog compress analytics elsewhere feeds i18n archive %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{{ BLOG_SETTINGS.site_name }}{% endblock %}</title>

    {% block meta %}
    <meta name="keywords" content="{{ BLOG_SETTINGS.meta_keywords }}">
    <meta name="description" content="{{ BLOG_SETTINGS.meta_description }}">
    <meta name="author" content="{{ BLOG_SETTINGS.author_name }}">
    {% endblock %}

     <meta name="copyright" content="{{ BLOG_SETTINGS.copyright }}" />
     <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon"/>

    {% block rss %}
    <link rel="alternate" type="application/rss+xml" title="Samuel Clay's ofBrooklyn.com" href="/feeds/all/">
    {% endblock %}

    {% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/960.css" type="text/css" media="all" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/prettify.css" type="text/css" media="all" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/pygments.css" type="text/css" media="all" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" type="text/css" media="all" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/themes/samuelclay.css" type="text/css" media="all" charset="utf-8">
    {% endcompress %}
    
    {% compress js %}
    <script src="{{ STATIC_URL }}js/jquery-1.3.2.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/raphael.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/jquery.topicconnections.js" type="text/javascript" charset="utf-8"></script>
    {% endcompress %}

   <!--[if IE 6]>
   <script src="{{ STATIC_URL }}js/DD_belatedPNG_0.0.7a-min.js"></script>
   <script>
   DD_belatedPNG.fix('#bleeder, .logo');
   </script>
   <style>
       #bleeder{ display: none;}
       #form-search{ width: auto; display: block; float: right; clear: both;}
       .navbar-one{ float: right; clear: both;}
   </style>
   <![endif]-->

    {% disqus_dev %}
    {% block extra_head %}{% endblock %}
  </head>

<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}blog{% endblock %}">
<div id="bleeder"></div>

  <div id="body-container" class="clearfix">
    {% block body %}

  <div id="header" class="clearfix">
    <span class="logo-subtitle">Samuel Clay is writing for you</span>
    <div id="logo">
      <h1>
          <img src="{{ STATIC_URL }}img/favicon.ico" style="margin-right: 8px;width: 24px;height: 24px">
          <a href="/" title="{{ BLOG_SETTINGS.site_name }}" style="font-family: Avenir, Helvetica Neue, Helvetica, sans-serif">{{ BLOG_SETTINGS.site_name }}</a> 
      </h1>
    </div>
    <!-- /logo -->

    <div id="nav">
      {% cache 3600 "base.navbars" %}
      {% navbars %}
      {% endcache %}
    </div>
    <!-- /nav -->

  </div>
  <!-- /header -->

      <div class="container_16">
        <div class="grid_11 suffix_1">
          <div class="content">
            {% block content %}{% endblock %}
          </div>
          <!-- /content -->

        </div>
        <!-- /grid_9 -->

        <div id="right-rail" class="grid_4">

          {# <h4>{% trans "About" %}</h4> #}
          <p>{{ BLOG_SETTINGS.about|safe }}</p>

      <form action="/search/" method="GET"><input type="text" name="q" value="{{ search_term }}"><input type="submit" class="button" value="Search"></form>
      
          {% cache 3600 "base.profiles" %}
          {% get_elsewhere_profiles as profiles %}
          {% if profiles %}
          <h4>{% trans "Elsewhere" %}</h4>
          <ul>
            {% for item in profiles %}
            <li><a href="{{ item.url }}" rel="me" title="{{ item.name }}">{{ item.name }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
          {% endcache %}

          
        </div>
        <!-- /grid_6 -->
      </div>
      <!-- /container_16 -->

      {% endblock %}
    </div>
    <!-- /body-container -->

    <div id="footer">
      <p>
        {% cache 3600 "base.footer" %}
        {% flatblock "footer" 3600 "flatblocks/bare.html" %}
        {% endcache %}
      </p>
    </div>
    <!-- /footer -->

    <!-- google analtyics -->
    {% cache 7200 "base.analytics" %}
    {% analytics %}
    {% endcache %}
    {% block extra_body %}
        
    {% endblock %}
  </body>
</html>
