{% load blog tagging_tags inlines oembed_tags comments pygment_tags %}

<div class="post clearfix">
    <div class="date">{{ object.pub_date|date:"M d" }}</div>
    {% with object.content_object as post %}
        <h2><a href="{{ post.get_absolute_url }}">{{ object.title }}</a></h2>
        {% if post.tease %}
            <p class="teaser">{{ post.tease|safe }}</p>
        {% endif %}
        <div class="body">
            {{ object.description|safe }}
        </div>
        {% if object.content_object.allow_comments %}
          {% get_comment_count for object.content_object as comment_count %}
          <div class="comment_count"><a href="{{ object.content_object.get_absolute_url }}#comments">{{ comment_count }} comment{{ comment_count|pluralize }}</a></div>
        {% endif %}

    {% endwith %}
</div>
<!-- post -->